@mixin gradient{
	background: rgb(205,143,248); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(205,143,248,1) 0%, rgba(146,21,242,1) 15%, rgba(146,21,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,143,248,1)), color-stop(15%,rgba(146,21,242,1)),
	 color-stop(100%,rgba(146,21,242,1))); /* Chrome,Safari4+ */
	background-repeat:repeat-x;;
	padding:0;
	margin:0;
	color: white;
}
@mixin bigbox{
	display:inline-block;
	margin:0 0 18px 18px;
	border:1px solid #000;
	border-radius:15px;
	padding:25px 25px 25px 20px;
	display:inline-block;
	h1{
	 font-size:16px;
	 font-weight:bold;
	 line-height:25px;
	 margin:0;
	 }
	 p{
		font-size:12px;
		font-family:times new roman;
		line-height:14px;
	}
	footer{
		p{
			font-size:14px;
			float:right;
			time{
				font-family:calibri;
			}
			margin:0;
			a{
				text-decoration:none;
				color:#cca3f8;
			}
		}
	}
}
body
{
	@include gradient;
	

	 #header-container{
		margin:0 0 0 0;
		
	 }
	 #logo-container{
		margin: 2px 0 6px 12px;
		display:inline-block;
		
	 }
	 #reg-form-container{
		float:right;
		margin:28px 116px 0 0;
		
		input{
			background-color:#b35ef3;
			border-radius:25px;
			border:1px solid #67378b;
			margin-bottom:8px;
		}
		label{
			font-size:12px;
		}
		#btn-register{
			background-color:#b35ef3;
			color:white;
			border-radius:10px;
			border-top-left:0,2px solid #bfabd0;
			border-right-bottom:0,2px solid #4f2a6a;
			margin-top:4px;
			padding:4px 4px 4px 6px;
			font-size:12px;
			font-weight:bold;
		}

	 }
	 nav{
		margin:0 326px 40px 30px;
		border:1px solid #000;	
		border-radius:15px;
		height:42px;

		 ul{
			list-style-type:none;
			margin:0;
			padding:0;			
		
		
			li{
				display:inline-block;
				margin-left:20px;
				
			
				ul{
					display:none;
					position:absolute;	
					@include gradient;
				
					li{
						display:block;	
						a{
						text-decoration:none;

						&:hover{					
								text-decoration:underline;
						}
						}
					}
				}
				a{
					text-decoration:none;
					color:white;
					font-size:18px;	
					
				}
				&:hover{

						a{
							text-decoration:underline;
						}
						ul{
						display:block;													
						}
						ul{
							a{
								text-decoration:none;
							}
						}
				}
			
			}
		}
	}
	section{
		float:left;		
		display: inline-block;
        width: 900px;
		
		article{
			@include bigbox;
		}
	}
	aside{
		display: inline-block;
		float: right;
		margin: 14px 54px 25px 36px;		
		width: 260px;

		ul{
			list-style-type:none;
			margin:0;
			padding:0;
			
			li{
				
				border:1px solid #000;
				border-radius:15px;
				padding:16px 18px 24px 18px;
				margin-bottom:14px;
				h2{
					font-size:16px;
					font-weight:bold;
					line-height:25px;
					margin:0;
				}
				a{
					text-decoration:none;
					color:#a496af;
				}
				p{
					font-size:12px;
					font-family:times new roman;
					line-height:14px;
				}
				ul{
					list-style-image:url("li-dot.png");
					li{
						border:none;
						margin:0;
						padding:0;
						

					}
				}
			}
		}
	}
	footer{
		p{
		float:left;
		font-weight:bold;
		margin-top:80px;
		}
		display:block;
	}
}
	 