body ul {
  list-style-type: none; }
  body ul li {
    display: inline-block; }
    body ul li img.smallpic {
      width: 150px;
      height: 150px; }
body input {
  display: none; }
  body input:checked + .select {
    opacity: 1;
    transition: opacity 1.0s ease-in-out; }
body div {
  position: relative; }
  body div img.select {
    height: 300px;
    left: 50px;
    top: 100px;
    width: 300px;
    opacity: 0;
    display: inline-block;
    position: absolute; }

